.SimpleEntertainmentMenu ul.AspNet-Menu {width: 100%;}        
.SimpleEntertainmentMenu ul.AspNet-Menu ul li {width: 10em;}        
UL.AspNet-Menu LI {	FLOAT: right !important; HEIGHT: 1% !important}       
.SimpleEntertainmentMenu li {width: 1em;}  
